@import url('https://use.typekit.net/wji6qip.css');

body {
    font-family: arboria, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


#logo_link {
    grid-column: 2/4;
}
.logo {
    width: 65px;
    padding-top: 5%;
}

nav {
    display: flex;
    justify-content: space-around;
    grid-column: 9/12;
    margin-top: 10%;
    font-family: circe, Helvetica, sans-serif;
    padding-right: 3%;
    
}

#navbar {
    background-color: white;
    padding-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: #231F20;
}

.introduction {
    grid-template-columns: repeat(12, 1fr);
}

#hello-banner {
    text-align: center;
    padding: 7%;
}

#hello-banner img {
    width: 350px;
}

.intro-statement {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#first-intro-statement {
    grid-column: 2/7;
    margin-right: 5%;
}

#second-intro-statement {
    grid-column: 7/12;
    margin-left: 5%;
}

.portfolio-display {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.padding-for-images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2/12;
    margin: 7.5% 0 7.5% 0;
}

.padding-for-images div {
    grid-column: span 3;
    margin: 2.5%;
}

.portfolio-display div img {
    width: 100%;
}


footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 2.5%;
}

footer p {
    grid-column: 2/5;
    margin: 0;
}

.footer-nav {
    grid-column: 6/8;
    display: flex;
    justify-content: space-around;
}

.footer-nav a {
    text-decoration: none;
    color:#231F20;
    
}

.social {
    grid-column: 10/12;
    display: flex;
    justify-content: space-around;
}

.social img {
    width: 50px;
}

 /***** About *****/

 .content {
    margin-top: 5%;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.content h1 {
    grid-column: 7/13;
    margin: 0;
    font-family: circe, Helvetica, sans-serif;
}

.content-text {
    grid-column: 7/11;
}
.content-images {
    grid-column: 2/7;
}

.content-images div img {
    width: 60%;
}

.utah-img {
    width: 65%;
    padding-left: 15%;
}

.portrait-img {
    margin-bottom: 5%;
}
.content-images div {
    text-align: center;
}

#about-footer {
    margin-top: 10%;
}


/******End About*******/

/** Contact Us **/

.content-contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-gap: 20px;
}

.content-contact p {
    font-size: 18px;
}

.content-contact p {
    font-family: arboria, Helvetica, sans-serif;;
}

.contact-info {
    grid-column: 5/12;
    grid-row-start: 1;
    grid-row-end: 3;
}

.contact-form-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;
    grid-column: 2/12;
    grid-row-start: 3;
}

.contact-img {
    grid-column: 2/4;
    margin-right: 30px;
}

.contact-img img {
    width: 100%;    
}

.contact-form {
    grid-column: 4/11;
    /**display: grid;**/
}

.contact-form ul {
    margin: 0;
    padding: 0;
}

.contact-form ul {
    list-style-type: none;
}


.form-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
}

#form-first-name {
    grid-column: 1/5;
    grid-row: 1/2;
}

#form-phone-number {
    grid-column: 1/5;
}

#form-last-name, #form-email {
    grid-column: 5/9;
}

#form-message {
    grid-column: 1/9;
    grid-row: 3/10;
}



.contact-form ul li input{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 100%;
    height: 100%;
    font-family: arboria, Helvetica, sans-serif;
    padding-left: 5px;
    font-size: 16px;
}

.contact-form ul li textarea {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 100%;
}

#form-message textarea {
    height: 100%;
}


.form-button {
    background-color: #231F20;
    color: white;
    border-style: none;
    width: 120px;
    padding: 5px 10px 5px 10px;
    font-family: circe, Helvetica, sans-serif;;
}

.contact-footer {
    
}
/** End Contact **/

/***** Sticky Navbar ******/

/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    filter: drop-shadow(6px 5px 2px #c4c4c4);
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;

  }

/** End Sticky Navbar **/

/**** Media Query ****/

@media screen and (max-width: 900px) {

/*work*/
header {
    display: block;
}

main {
    font-size: 18px;
}

#navbar a {
    display: flex;
}

#navbar a img {
    margin: auto;
}

.intoduction {
    display: block;
}

.intro-statement {
    display: block;
}

#first-intro-statement, #second-intro-statement {
    margin: 0;
}

#hello-banner img{
    width: 50%;
}

.portfolio-display {
    display: block;
}

.padding-for-images {
    display: block;
}

.padding-for-images div {
    margin: 0;
    padding: 3%;
}

.portfolio-display div img {
   width: 100%;
}

/*footer*/

footer {
    display: block;
}

footer p {
    text-align: center;
}

.social {
    justify-content: center;
}

.footer-nav {
    justify-content: center;
    padding: 2%;
}

/**about**/

.content-grid {
    display: block;
}

.content-images {
    display: block;
}

.utah-img img {
    width: 100%;
}

main h1 {
    text-align: center;
}

/** Contact Page **/

.content-contact {
    display: block;
}

.contact-form-content {
    display: block;
    margin-top: 20px;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
}

#form-first-name, #form-last-name, #form-phone-number, #form-email  {
    width: 90%;
}

#form-message {
    width: 90%;
    height: 150px;
}

.contact-footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

.contact-img {
    padding: 10px;
}
  


}



/****** End Media Query ******/
